

.navbar {
	justify-content: center;
	width: 100%;
	gap: 1rem;
	margin-bottom: 4rem;
}


.alchemy_logo{
	width: 4rem;
	margin: "2%";
	cursor: pointer;
}

.connectButton{
	height: 1rem;
	margin-right: 0;
}